.hero
{
	background: url("/img/main-banner1.jpg") no-repeat 80% 50%;
	background-size: auto;
	background-size: cover;
	padding: 120px 0px;
}

.sectionHeader
{
	padding: 1rem 0;
	font-size: 3rem;
	line-height: 3.5rem;
}

.highlighted
{
	color: var(--orange-color);
}

.text-lg {
	font-size: 1.25rem;
	line-height: 2;
}

.section {
	width: 60%;
	margin: 0 auto;
	padding: 2rem 0;
}

.sectionSpacing
{
	padding: 3rem 0;
}

.heroRow
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: fit-content;
	max-width: 100%;
}

.heroTextBlock
{
	display: flex;
	flex: 0 0 40%;
	flex-direction: column;
	justify-content: center;
	padding: 5rem;
}

.heroTextBlock h1
{
	font-size: 3rem;
}

.heroTextBlock h1 span
{
	color: #ec5711;
}

.heroTextBlock p
{
	margin: 2rem 0;
}

.button
{
	border: 2px solid #111;
	border-radius: 3rem;
	padding: 2rem;
	text-align: center;
	align-self: center;
}

.heroImgBlock
{
	display: flex;
	flex: 0 0 60%;
	background-image: url("/img/hero_right.jpg");
	min-height: 629px;
	background-position: 0% 50%;
	background-size: cover;
}

.serviceIcons
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 3rem 0;
	width: 60%;
  margin: auto;
}

.serviceIconBlock
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.serviceIconBlock *
{
	margin: 1rem 0;
}

.serviceIconBlock svg
{
	height: 80px;
	width: 80px;
	color: var(--highlight-color);
}

.testimonials
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url("/img/gray_bg.png");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials h2
{
	font-size: 3.5rem;
	line-height: 1.1;
	font-weight: 700;
}

.testimonials p
{
	font-size: 1.25rem;
	line-height: 2;
	margin: 3rem auto;
	width: 60%;
}

.testimonialsBlocks
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.testimonialCard p
{
	line-height: 1.5;
	font-size: 1rem;
	margin: 1rem auto;
	font-style: italic;
}

.studioInfoSection
{
	padding: 2rem 0;
	background-color: #e5e5e5;
}

.studioInfo
{
	width: 60%;
	margin: 0 auto;
}

.studioInfoTextBlock
{
	line-height: 2rem;
	display: flex;
}

.studioInfoTextBlock p:first-child
{
	padding: 1rem;
}

.studioInfoTextBlock > *
{
	flex: 1;
}

.studioInfoTextBlock ol
{
	padding: 0 0 0 1.2rem;
}

.studioInfoServicesList
{
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
	font-size: 1.1rem;
}

.customSolutionsSection
{
	background-color: var(--orange-color);
}

.customSolutionSectionContent
{
	width: 60%;
	margin: 0 auto;
	padding: 3rem 0;
	line-height: 2rem;
	color: white;
}

.twoColumnFlex
{
	display: flex;
	flex-flow: row wrap;
}

.twoColumnFlex > *
{
	width: 50%;
}

.sectionBody
{
	width: 60%;
	margin: 0 auto;
}

.contactSection
{
	background-color: var(--orange-color);
	color: white;
}

.contactSectionBody
{
	display: flex;
	flex-flow: row wrap;
}

.contactSection h2
{
	flex: 2 0 66%;
}

.contactSection .contactFormBlock
{
	flex: 1 0 33%;
}

.contactFormBlock h3, .contactFormBlock p
{
	padding: 1rem 0;
}

.contactFormBlock form
{
	padding: 2rem;
	background-color: var(--dark-color);
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
}

.contactFormBlock form > *
{
	margin: 0.5rem 0;
	padding: 1rem;	
}


.processSection
{
	background-image: url("/img/orange_bg.png");
	color: white;
	line-height: 2rem;
}

.planningSection
{
	line-height: 2rem;
}
